@import '/src/assets/styling/custom-config';

$config: mat-typography-config();

.container {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.inner-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2)
}

.card {
    border: 0;
    border-radius: 0px;
    box-shadow: 0px;
}

.card-body {
    padding: 1.25rem;
    flex-wrap: wrap;
    position: relative;
}

.update {

    background: #06d79c !important;
    border: 1px solid #06d79c;
    padding: 7px 12px;
    border-radius: 0.25rem;
    color: white;
}