<div class="container ml-64">
    <div class="self-center mt-4">
        <h3 class=" text-skylbue text-xl pt-4 leading-8">Profile</h3>
    </div>
    <div class="w-full py-2 lg:py-5 lg:flex md:flex">

        <!--Profile card -->
        <div class="lg:w-1/4 md: w-1/4 flex-initial">
            <div class="bg-white py-5 flex flex-col items-center shadow-3xl lg:ml-5 mb-10 cursor-pointer text-center">
                <!--image wrapper-->
                <img src="/assets/images/users/5.jpg" alt="profile picture" class="rounded-full w-40 h-40" />
        
                <span class="block font-medium text-3xl my-4 text-gray-900 px-5"> Hanna Gover </span>
        
                <span class="block text-lg text-gray-900 px-5"> Accounts Manager Amix corp</span>
        
                <div class="text-center lg:justify-center md:justify-center">
                    <div class="flex mb-4 md:justify-center">
                        <div class="w-1/4">
                            <mat-icon class="img mr-1 ml-2 mt-3">people_outline</mat-icon>
                        </div>
                        <div class="w-1/4 mt-3 mr-3">
                            <font class="text-base">254</font>
                        </div>
                        <div class="w-1/4 ml-12">
                            <mat-icon class="img mr-1 ml-2 mt-3">image
                            </mat-icon>
                        </div>
                        <div class="w-1/4 mt-3 mr-3">
                            <font class="text-base">54</font>
                        </div>
                        </div>
                </div>
                </div>
                    </div>
                    <!-- user info Form  -->
                    <div class="lg:w-3/4 md:w-3/4 bg-white ml-4 max-h-max pl-4  shadow-3xl flex-initial">
                        <form [formGroup]="userInfo" (ngSubmit)="onFormSubmit()" class="form-horizontal form-material mx-2">
                            <div class="pt-6">
                                <label for="name" class="font-semibold">Full Name</label>
                                <mat-form-field class="w-full mt-2">
                                    <input matInput formControlName="fullName" class="my-6" placeholder="Ex. Johnathan Doe">
                                </mat-form-field>
                            </div>
                            <div class="pt-6">
                                <label for="email" class="font-semibold">Email</label>
                                <mat-form-field class="w-full mt-2">
                                    <input matInput formControlName="email" class="my-6" placeholder="johnathan@admin.com">
                                </mat-form-field>
                            </div>
                            <div class="pt-6">
                                <label for="password" class="font-semibold">Password</label>
                                <mat-form-field class="w-full mt-2">
                                    <input matInput formControlName="password" type="password" class="my-6"
                                        placeholder="strong password = more Security">
                                </mat-form-field>
                            </div>
                            <div class="pt-6">
                                <label class="font-semibold">Phone Number *</label>
                                <mat-form-field class="w-full mt-2">
                                    <input matInput formControlName="phoneNumber" type="number" placeholder="123 456 7890" class="my-6">
                                </mat-form-field>
                                <div *ngIf="userData.phoneNumber.touched && userData.phoneNumber.touched" class="text-red-500">
                                    <div class="text-red-500" *ngIf="userData.phoneNumber.errors?.required">Mobile
                                        number is required</div>
                                    <!-- <div class="text-red-500" *ngIf="userData.phoneNumber.errors">Provide 12 digit phone number</div> -->
                                </div>
                            </div>
                            <div class="pt-6">
                                <label class="font-semibold">Message</label>
                                <mat-form-field class="w-full mt-2">
                                    <textarea matInput formControlName="message" maxlength="500" rows="5" class="my-6"></textarea>
                                </mat-form-field>
                            </div>
                            <mat-form-field class="pt-6">
                                <mat-label type="button" mat-raised-button color="accent" mat-button>Select Your
                                    country</mat-label>
                                <mat-select>
                                    <mat-option type="menu" mat-menu-item>London</mat-option>
                                    <mat-option type="menu" mat-menu-item>India</mat-option>
                                    <mat-option type="menu" mat-menu-item>Usa</mat-option>
                                    <mat-option type="menu" mat-menu-item>Canada</mat-option>
                                    <mat-option type="menu" mat-menu-item>Thailand</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <section class="pt-6 mb-6">
                                <button mat-button type="submit" class="update">Update Profile</button>
                            </section>
                </form>
                </div>
                </div>
