<div class="sidebar_menu">
  <mat-nav-list class="menu-list">
    <a mat-list-item title="Dashboard">
      <mat-icon class="icon">speed</mat-icon>
      <span class="label">Dashboard</span>
    </a>
    <a mat-list-item title="Work">
      <mat-icon class="icon">account_circle</mat-icon>
      <span class="label">Profile</span>
    </a>
    <a mat-list-item title="Table">
      <mat-icon class="icon">table</mat-icon>
      <span class="label">Table</span>
    </a>
    <a mat-list-item title="Icons">
      <mat-icon class="icon">mood</mat-icon>
      <span class="label">Icons</span>
    </a>
    <a mat-list-item title="Map">
      <mat-icon class="icon">public</mat-icon>
      <span class="label">Map</span>
    </a>
    <a mat-list-item title="Blank">
      <mat-icon class="icon">import_contacts</mat-icon>
      <span class="label">Blank</span>
    </a>
    <a mat-list-item title="Not-found">
      <mat-icon class="icon">help</mat-icon>
      <span class="label">Not-found</span>
    </a>
  </mat-nav-list>
</div>