@import '~@angular/material/theming';

$custom-typography: mat-typography-config(  
  $font-family: 'Montserrat, sans-serif',
  $subheading-2: mat-typography-level(21px, 20px, 400),  
); 

// Override typography CSS classes   
@include mat-base-typography($custom-typography);  
// Override typography for a specific components.  
@include mat-checkbox-typography($custom-typography);  
// Override typography for all Angular Material, including the mat-base-typography  
@include angular-material-typography ($custom-typography);  
// Override the typography in the core CSS.  
@include mat-core($custom-typography);  